prod/.terraform/
prod/.terraform/*
prod/terraform/
prod/terraform/*

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
 
prod/kubernetes_cluster/.terraform
prod/kubernetes_cluster/.terraform/*.tfstate
prod/kubernetes_cluster/.terraform/*.tfstate.*
prod/kubernetes_cluster/.terraform*


.git/
./git/
./git/*
/git
git/